<div class="ibox float-e-margins">
  <div class="ibox-content mailbox-content">
    <div class="file-manager">
      <a class="btn btn-block btn-primary compose-mail">Compose Mail</a>
      <div class="space-25"></div>
      <folders></folders>
      <projects></projects>
      <labels></labels>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
