<h5>Folders</h5>
<ul class="folder-list m-b-md" style="padding: 0">
  <li *ngFor="let folder of folders">
    <a [routerLink]="['' + folder.link ]">
      <i class="fa" [ngClass]="['' + folder.iconClass]"></i>
      {{folder.title}}
      <span *ngIf="folder.unread > 0" class="label label-warning pull-right">{{folder.unread}}</span>
    </a>
  </li>
</ul>
