<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
      <div>
          <h1 class="logo-name">A2</h1>
      </div>
      <h3>Welcome to Angular 2 project</h3>
      <p>Login in. To see it in action.</p>
      <form class="m-t" role="form" (ngSubmit)="submitUser(userData)">
          <div class="form-group">
              <input type="text" [(ngModel)]="userData.email" class="form-control" placeholder="Username" required="">
          </div>
          <div class="form-group">
              <input type="text" [(ngModel)]="userData.password" class="form-control" placeholder="Password" required="">
          </div>
          <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
      </form>
  </div>
</div>
