<h5 class="tag-title">Labels</h5>
<ul class="tag-list" style="padding: 0">
  <li *ngFor="let label of labels">
    <a href="/{{label.title}}">
      <i class="fa fa-tag"></i>
      {{label.title}}
    </a>
  </li>
</ul>
