<div class="mail-box-header">
  <form method="get" action="index.html" class="pull-right mail-search">
    <div class="input-group">
      <input type="text" class="form-control input-sm" name="search" placeholder="Search email">
      <div class="input-group-btn">
        <button type="submit" class="btn btn-sm btn-primary">
          Search
        </button>
      </div>
    </div>
  </form>
  <h2>Inbox ({{count}})</h2>
  <div class="mail-tools tooltip-demo m-t-md">
    <div class="btn-group pull-right">
      <button class="btn btn-white btn-sm">
        <i class="fa fa-arrow-left"></i>
      </button>
      <button class="btn btn-white btn-sm">
        <i class="fa fa-arrow-right"></i>
      </button>
    </div>

    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh inbox">
      <i class="fa fa-refresh"></i>
      Refresh</button>
    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read">
      <i class="fa fa-eye"></i>
    </button>
    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as important">
      <i class="fa fa-exclamation"></i>
    </button>
    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash">
      <i class="fa fa-trash-o"></i>
    </button>
  </div>
</div>
<div class="mail-box">
  <table class="table table-hover table-mail">
    <tbody>
      <tr *ngFor="let mail of mails" [ngClass]="{read:mail.isRead, unread:!mail.isRead}">
        <td class="check-mail">
          <input type="checkbox" class="i-checks">
        </td>
        <td class="mail-ontact">
          <a *ngIf="mail.from.name" [routerLink]="['/mailbox/mails', mail._id]" >{{mail.from.name}}</a>
          <a *ngIf="!mail.from.name" [routerLink]="['/mailbox/mails', mail._id]">{{mail.from.address}}</a>
        </td>
        <td class="mail-subject">
          <a [routerLink]="['/mailbox/mails/' + mail._id]">{{mail.subject}}</a>
        </td>
        <td class=""></td>
        <td class="text-right mail-date"><formatted-data [date]="mail.created"></formatted-data></td>
      </tr>
    </tbody>
  </table>
</div>
