<div id="wrapper">
  <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
      <app-header></app-header>
    </div>
    <div class="wrapper wrapper-content">
      <div class="row">
        <div class="col-lg-3">
          <sidebar></sidebar>
        </div>
        <div class="col-lg-9 animated fadeInRight">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="footer">
      <div class="pull-right">
        10GB of
        <strong>250GB</strong>
        Free.
      </div>
      <div>
        <strong>Copyright</strong>
        Example Company &copy; 2014-2015
      </div>
    </div>
  </div>
</div>
