<h5>Projects</h5>
<ul class="category-list" style="padding: 0">
  <li class="row" *ngFor="let project of projects; let i = index">
    <div class="col-lg-8 col-md-8">
      <a *ngIf="!project.isEditting" href="{{project.link}}">
        {{project.title}}
      </a>
      <form *ngIf="project.isEditting" class="form-inline" (ngSubmit)="update(project)" >
        <div class="form-group">
            <input type="text" placeholder="Title" class="form-control" [(ngModel)]="project.title" [value]="project.title">
        </div>
        <div class="form-group">
          <button type="submit" style="display: none;" class="btn" name="button"></button>
        </div>
      </form>
    </div>
    <div class="col-lg-4 col-md-4 text-right">
      <i class="fa fa-edit" (click)="update(project)"></i>
      <i class="fa fa-trash-o" (click)="remove(project)"></i>
    </div>
  </li>
</ul>
<hr>
<form class="form-inline" (ngSubmit)="create(newProject)">
    <div class="form-group">
      <input type="text" placeholder="Title" class="form-control" [(ngModel)]="newProject.title" [value]="newProject.title">
    </div>
    <div class="form-group">
      <button type="submit" class="btn">Add</button>
    </div>
</form>
