<div *ngIf="isDataAvailable">
<div class="mail-box-header">
  <h1 class="product">Product Detail for Product: {{mail._id}}</h1>
    <div class="pull-right tooltip-demo">
        <a href="mail_compose.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Reply">
            <i class="fa fa-reply"></i>
            Reply</a>
        <a href="#" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Print email">
            <i class="fa fa-print"></i>
        </a>
        <a href="mailbox.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash">
            <i class="fa fa-trash-o"></i>
        </a>
    </div>
    <h2>
        View Message
    </h2>
    <div class="mail-tools tooltip-demo m-t-md">

        <h3>
            <span class="font-noraml">Subject:
            </span>{{mail.subject}}
        </h3>
        <h5>
            <span class="pull-right font-noraml"><formatted-data [date]="mail.created"></formatted-data></span>
            <span class="font-noraml">From:
            </span>{{mail.from.address}}
        </h5>
    </div>
</div>
<div class="mail-box">

    <div class="mail-body" *ngIf="mail.html">
      <div [innerHTML]="mail.html"></div>
    </div>
    <div class="mail-body" *ngIf="!mail.html">
        <div innerHTML="'' + mail.text"></div>
    </div>
    <div class="mail-attachment">
        <p>
            <span>
                <i class="fa fa-paperclip"></i>
                2 attachments -
            </span>
            <a href="#">Download all</a>
            |
            <a href="#">View all images</a>
        </p>

        <div class="attachment">
            <div class="file-box">
                <div class="file">
                    <a href="#">
                        <span class="corner"></span>

                        <div class="icon">
                            <i class="fa fa-file"></i>
                        </div>
                        <div class="file-name">
                            Document_2014.doc
                            <br>
                            <small>Added: Jan 11, 2014</small>
                        </div>
                    </a>
                </div>

            </div>
            <div class="file-box">
                <div class="file">
                    <a href="#">
                        <span class="corner"></span>

                        <div class="image"></div>
                        <div class="file-name">
                            Italy street.jpg
                            <br>
                            <small>Added: Jan 6, 2014</small>
                        </div>
                    </a>

                </div>
            </div>
            <div class="file-box">
                <div class="file">
                    <a href="#">
                        <span class="corner"></span>

                        <div class="image"></div>
                        <div class="file-name">
                            My feel.png
                            <br>
                            <small>Added: Jan 7, 2014</small>
                        </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="mail-body text-right tooltip-demo">
        <a class="btn btn-sm btn-white" href="mail_compose.html">
            <i class="fa fa-reply"></i>
            Reply</a>
        <a class="btn btn-sm btn-white" href="mail_compose.html">
            <i class="fa fa-arrow-right"></i>
            Forward</a>
        <button title="" data-placement="top" data-toggle="tooltip" type="button" data-original-title="Print" class="btn btn-sm btn-white">
            <i class="fa fa-print"></i>
            Print</button>
        <button title="" data-placement="top" data-toggle="tooltip" data-original-title="Trash" class="btn btn-sm btn-white">
            <i class="fa fa-trash-o"></i>
            Remove</button>
    </div>
    <div class="clearfix"></div>

</div>
</div>
